*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
}

.promo{
    display: flex;
    width: 1513px;
    height: 111.6px;
    border: 2px solid;
    flex-wrap: wrap;
}
.promo-text{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 1513px;
    height: 40px;
    background-color: #f3f3f3;
    
}
.promo-text p{
    font-weight: bolder;
    font-size: 1.2rem;
}
.menu{
    border: 1px solid red;
    display: flex;
    width: 566px;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
    
}
.menu-item{
    font-weight: bolder;
}
.menu-item #sale{
    color: red;
}