body{
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: white;
    box-sizing: border-box;
    
}
.promotext{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #eee;
}

li{
    list-style-type: none;
}
#sale{
    color: red;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    width: 390px;    
    margin: 0;
}
.nav-menu{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.logo{
    
    width: auto;
        
}
.logo img{
    width: 100px;
}
#india-flag{
    width: 22px;
    height: 16px;
}
header nav ul a{
    text-decoration: none;
}

.hero-section{
    display: flex;
}
.banner{
    width: 1500px;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;

}